<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="directory" value="C:\Git\data\external-sort\"/>
    <add key="fileCount" value="20"/>
    <add key="maxRecordCount" value="2000000"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>